---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" media="screen" />
    <style>
      img {
        align-self: center;
      }
    </style>
    <link rel="stylesheet" href="style.css">
    <title>About Me</title>
  </head>
  <body>
    {% include nav.html active="About Me" %}

    <div class="main">
      <div class="mainContainer">
        <div class="dataContainer">
          <img src="Banna.jpg" alt="Banna">

          <!-- Education Section -->
          <div class="box1">
            <div class="boxText">
              Education
            </div>
            <div class="box11">
              <div class="bio">
                Ph.D. in Computer Engineering
              </div>
              <div class="bio1">
                Texas A&amp;M University, College Station, TX<br>
                Aug 2023 – Jun 2028 (Expected)
              </div>
            </div>
            <div class="box11">
              <div class="bio">
                B.S. in Electrical Engineering
              </div>
              <div class="bio1">
                Tianjin University, Tianjin, China<br>
                Aug 2019 – Jun 2023
              </div>
            </div>
          </div>

          <div class="box1">
            <a href="aboutMe.html" style="text-decoration: none;">
              <div class="boxText">
                About Me
              </div>
              <div class="box11">
                <div class="text1">
                  Hi there! This is Jiawen's homepage.<br>
                  <br>
                  My research interests fall into the fields of cryptography and computer architecture,
                  especially hardware accelerators, hardware security, and their intersections. Especially on Zero-Knowledge Proofs Hardware.<br>
                  <br>
                  I'm pursuing my PhD in SETH lab led by Prof. JV Rajendran at Texas A&M from 2023. Prior to that, I received my B.S. degree in Electrical Engineering from Tianjin University, China in 2023.<br>
                  <br>
                  Impact Statement: I am passionate about designing efficient and secure hardware accelerators for emerging applications, such as machine learning, cryptography, and blockchain. And make the world a better place.<br>
                  <br>
                </div>
              </div>
            </a>
          </div>

          <a href="./index.html" style="text-decoration: none;">
            <div class="home" style="background: #002fa7;">
              <div class="bio" style="color: #ffffff; text-align: center;">
                Back to Home
              </div>
            </div>
          </a>
        </div>
      </div>

      {% include footer.html %}
    </div>
    <script src="script.js"></script>
  </body>
</html>
