---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
    <link rel="shortcut icon" typr="image/x-ico" href="favicon.ico" media="screen" />
    <style>
      img {
        align-self: center;
      }
    </style>
    <link rel="stylesheet" href="style.css">
    <title>Research</title>
  </head>
  <body>
    {% include nav.html active="Research" %}

    <div class="main">
      <div class="mainContainer">
        <div class="dataContainer">
          {% include publications.html %}

          <div class="box1">
            <a href="research.html" style="text-decoration: none;">
              <div class="boxText">
                Research
              </div>
            </a>
            <a href = "http://sme.tju.edu.cn/" style="text-decoration: none;">
              <div class="box11">
                <div class="bio">
                  Sparse Neural Network Hardware Accelerator Design
                </div>
                <div class="bio1">
                  School of Microelectronics, Tianjin University
                </div>
              </div>
            </a>
            <a href = "http://www.ict.cas.cn/" style="text-decoration: none;">
              <div class="box11">
                <div class="bio">
                  Post-Quantum Cryptography NTT Hardware Accelerator
                </div>
                <div class="bio1">
                  State Key Laboratory of Computer Architecture, Institute of Computing Technology, Chinese Academy of Sciences
                </div>
              </div>
            </a>
            <a href = "https://www.cs.hku.hk/" style="text-decoration: none;">
              <div class="box11">
                <div class="bio">
                  Automatic Management of Devices for Robotic Applications
                </div>
                <div class="bio1">
                  Department of Computer Science, The University of Hong Kong
                </div>
              </div>
            </a>
            <a href = "http://sme.tju.edu.cn/" style="text-decoration: none;">
              <div class="box11">
                <div class="bio">
                  The Analysis of Data Center Network Congestion Control Solution
                  </div>
                  <div class="bio1">
                  School of Microelectronics, Tianjin University
                </div>
              </div>
            </a>
          </div>

          <a href = "./index.html" style="text-decoration: none;">
            <div class="home" style="background: #002fa7;">
              <div class="bio" style="color: #ffffff; text-align: center;">
                Back to Home
              </div>
            </div>
          </a>
        </div>
      </div>

      {% include footer.html %}
    </div>
    <script src="script.js"></script>
  </body>
</html>
